body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  overflow-x: hidden;
}
#game-of-life {
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.header-style {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: 88px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 172px); /* Adjust the container height based on the header height */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.vertical-spacer {
  flex-grow: 1;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}


.links a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.links a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  flex-grow: 1;
}

